@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #875cf5;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.875rem;
  color: #000;
  background-color: #f1f5f9;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #e2e8f0;
  outline: none;
}

.btn-primary {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: #8b5cf6;
  box-shadow: 0 10px 15px -3px rgba(147, 51, 234, 0.05);
  padding: 10px;
  border-radius: 0.375rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgba(147, 51, 234, 0.15);
  color: #9333ea;
}